<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="test" connectionString="server=(local);database=master;uid=sa;pwd=123456;" providerName="System.Data.MyDogClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="MyDog"
       invariant="System.Data.MyDogClient"
       support="FF"
       description=".Net Framework Data Provider for SqlServer"
       type="MyDog.AlternateType.DogDbProviderFactory`1[[System.Data.SqlClientFactory, System.Data]], MyDog" />
      <!-- other provider entries elided -->
    </DbProviderFactories>
  </system.data>
</configuration>